.bg {
  background: rgb(8, 41, 41);
  background: linear-gradient(
    90deg,
    rgba(8, 41, 41, 1) 0%,
    rgba(10, 13, 10, 1) 35%,
    rgba(35, 50, 21, 1) 100%
  );
}
/* 
.bg {
  background-image: url(../../public/gradient.png);
  background-size: contain;
  background-repeat: no-repeat;
} */

/* .bg {
  background: rgb(8, 42, 42);
  background: linear-gradient(
    90deg,
    rgba(8, 42, 42, 1) 8%,
    rgba(35, 50, 20, 1) 46%,
    rgba(9, 11, 9, 1) 92%
  );
} */

.gradient-border {
  /* Use gradient for border color */
  background-image: linear-gradient("to top, #11dfd7 50%, #486E2A 50%");
}

.bgColor:hover {
  background-image: url("https://i.ibb.co/wh4jN25/Screenshot-6.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.background:hover {
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bgColors:hover {
  transition-duration: 5s;
  transition: ease-in-out;
  transition: all;
  background: rgb(42, 122, 122);
  background: linear-gradient(
    90deg,
    rgba(42, 122, 122, 1) 0%,
    rgba(32, 32, 32, 1) 35%,
    rgba(87, 121, 56, 1) 100%
  );
}

.gradient {
  background-image: linear-gradient(to right, #09e5e5 0%, #8efa6d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  border: 2px solid;
  border-image: linear-gradient(to right, #09e5e5, #8efa6d) 1;
  background-color: transparent;
  padding: 7px 15px;
  cursor: pointer;
}
